/* Heading styles */
h1 {
    color: darkblue;
    text-decoration: underline;
}

/* Body Style */

body {
    background-image: url(infinity_hdtv_1080p-1920x1080.jpg);
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8dc374;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Paragraph Styles */
p {
    color: #333;
    font-size: 18px;
}

/* Button Style */
button {
    background-color: rgb(81, 12, 20);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}